.inputWeather {
  background-color: #f8f8f8;
}

.weatherCard {
  height: 184px;
}

.cityName {
  color: #7f52ff;
}

.weatherTitle {
  font-size: 1.2em;
  color: #bdbdbd;
}

.conditionWeather {
  font-weight: bold;
}

.prova {
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.imgCity {
  width: 100%;
  height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
