.titleExpanse {
  font-weight: 700;
  font-size: 1.2em;
}

.inputBudget {
  border: none;
  background-color: #f8f8f8;
}

.ctaBudget {
  border-radius: 10px;
  background-color: #f8f8f8;

  border: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  &:hover {
    background-color: gba(98, 112, 236, 0.88);
    color: white;
  }
}

.hoverListGroup {
  &:hover {
    cursor: pointer;
  }
}

.comeinCol {
  overflow-y: scroll;
  height: 200px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 10px;
}

/* CALCOLATRICE */

.wrapper {
  margin: 0 auto;
}

button {
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}
.modifiers button {
  background-color: #ccc;
}
.operations button {
  background-color: #f7f7f7;
  width: 70px;
}
.digits button {
  background-color: #efefef;
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}
.show-input {
  grid-area: total;
}
.modifiers {
  grid-area: modif;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  height: 50px;
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}

.chartExpense {
  height: 350px;
}
