.widgetCard {
  height: 184px;
  cursor: pointer;
}

.imgWidget {
  width: 80px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.newsWidget {
}

.titleNewsWidget {
  font-size: 0.8em;
}

.widgetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.24);
}

.total {
  background-color: #7994fe4b;
}

.income {
  background-color: #1db954;
  color: white;
}

.output {
  background-color: #b91d41;
}

.iconWidgetExpense {
  font-size: 1.4em;
}

.boxDate {
  background-color: #e9ecef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.475);
  .numberDate {
    font-size: 0.8em;
    font-weight: bold;
  }
}

.boxDate1 {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 0.9em;
  box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.44);
}
