$blue: #2b77fb;
$red: #ff004f;
$green: #1bb954;
$yellow: #f8de7e;

.myRedBg {
  background-color: $red;
}

.myTextRed {
  color: $red;
}

.myBluBg {
  background-color: $blue;
}

.myTextBlu {
  color: $blue;
}

.myGreenBg {
  background-color: $green;
}

.myTextGreen {
  color: $green;
}

.myYellowBg {
  background-color: $yellow !important;
}

.myTextYellow {
  color: $yellow;
}
